<div ng-if="loading">
  Loading
</div>

<div ng-if="!vote" class="alert alert-info" role="alert">
  Sorry, there is no active vote!
</div>

<div ng-if="vote" class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{vote.label}}</h3>
        </div>
        <div class="panel-body">
          <div class="btn-group btn-group-justified">
            <div class="btn-group" role="group">
              <button type="button" ng-class="{pulse: pulseYes}" ng-disabled="submitted" ng-click="submitVote('inc')" class="btn btn-default btn-lg btn-block">
                <span class="text-success">
                  <span ng-if="vote.type==='yesno'" class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                    {{option1}}
                  <span ng-if="submitted" class="badge">{{vote.votes.yes}}</span>
                </span>
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" ng-class="{pulse: pulseNo}" ng-disabled="submitted" ng-click="submitVote('dec')" class="btn btn-default btn-lg btn-block">
                <span class="text-danger">
                  <span ng-if="vote.type==='yesno'" class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                    {{option2}}
                  <span ng-if="submitted" class="badge">{{vote.votes.no}}</span>
                </span>
              </button>
            </div>
          </div>
          <div class="alert alert-success" role="alert" ng-if="!loading && submitted">
            You have voted, thanks! The results are live updated, keep this page open.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
